.secTitle{
    padding-bottom: 0;
   font-size: 35px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}
@media screen and (max-width:575.98px) {
    .mainbar{
        display: block;
        padding-left: 0;
        padding-right: 0;
    } 
    .aboutxt{
        padding: 0;
    }
    .secTitle{
        font-size: 24px;
    } 
}
@media screen and (min-width:576px) and (max-width:767.98px) {
    .mainbar{
        display: block;
    } 
    .secTitle{
        font-size: 28px;
    }  
}
@media screen and (min-width:768px) and (max-width:991.98px) {
    .mainbar{
        display: block;
    }
    .secTitle{
        font-size: 28px;
    }
  
}
