/* .slickDots{
    bottom: 25px!important;

} */
.slick-dots li button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
   
}
.buttonGroup{
    position: absolute;
    top: 72%;
 margin-left: 30px;
}
.btn{
    padding: 15px 20px!important;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    margin-right: 30px; 
}
.watchButton{
    padding: 15px 44px!important;
    background: linear-gradient(254.81deg,#ff6e01 8.13%,#f42829 92.46%);
}
.shareButton{
    color: #5b5b5b;
    background-color: #fff;
    padding: 20px!important;
    
}
.watchlist{
    color: #5b5b5b;
    background-color: #fff;
}
@media screen and (max-width:767.98px){
    .btn{
        padding: 10px 9px!important;
        font-size: 16px;
        font-weight: 600;
    }
    .watchButton{
        padding: 10px 12px!important;  
        margin-right: 10px;
    }
    .watchlist{
        margin-right: 10px;
    }

    .shareButton{
        padding: 14px 12px!important;
        margin-right: 15px;
    }
}