.footerTitle{
    font-weight: 700;
font-size: 24px;
line-height: 132%;

margin-bottom: 45px;
display: block;
}

@media screen and (max-width:575.98px) {
    .footdiv1{
    margin-bottom: 30px;
    }
 
    .footdiv2{
        margin-bottom: 20px;
    }
    .footdiv3{
        margin-bottom: 20px;
    }
    .footdiv4{
        margin-bottom: 20px;
    }
    .footerTitle{

        margin-bottom: 15px;
    }
    .footdiv2 a{
        display: block;
        font-size: 16px;
    line-height: 147%;
    margin-bottom: 15px;
    display: block;
    }
    .footdiv3 a,.footdiv4 a{
        display: block;
        font-size: 16px;
    line-height: 147%;
    margin-bottom: 15px;
    display: block;  
    }
    /* .footdiv{
        
    }
    .footdiv1{
        width: 75%;
    }
    .footlink1{
        text-decoration: none;
        margin-bottom: 20px!important;
    }
    .footdiv2{
        width: 47%;
        float: left;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .footdiv3{
        width: 47%;
        float: left;
    } */
 
}

@media screen and (min-width:576px) and (max-width:767.98px) {
    .containerDiv{
       max-width: 767px!important;
    }
    .footdiv1{
    margin-bottom: 0;
}

.footdiv2{
    margin-bottom: 0;
}
.footdiv3{
    margin-bottom: 0;
}
.footdiv4{
    margin-bottom: 0;
}
.footdiv5 .footerTitle{
    margin-bottom: 40px!important;
}
.footerTitle{

    margin-bottom: 15px;
}
.footdiv2 a{
    display: block;
    font-size: 16px;
line-height: 147%;
margin-bottom: 15px;
display: block;
}
.footdiv3 a,.footdiv4 a{
   
    font-size: 16px;
line-height: 147%;
margin-bottom: 15px;
display: block;  
}   
}
@media screen and (min-width:768px) and (max-width:991.98px) {
    .containerDiv{
        max-width: 991px!important;
     }
    .footdiv3 a,.footdiv4 a{
   
        font-size: 16px;
    line-height: 147%;
    margin-bottom: 15px;
    display: block;  
    } 
    .footdiv2 a{
        display: block;
        font-size: 16px;
    line-height: 147%;
    margin-bottom: 15px;
    display: block;
    } 
}
@media screen and (min-width:992px) and (max-width:1199.98px) {
  
    .footdiv3 a,.footdiv4 a{
   
        font-size: 16px;
    line-height: 147%;
    margin-bottom: 15px;
    display: block;  
    } 
    .footdiv2 a{
        display: block;
        font-size: 16px;
    line-height: 147%;
    margin-bottom: 15px;
    display: block;
    } 
}
@media screen and (min-width:1200px) {
      
    .footdiv3 a,.footdiv4 a{
   
        font-size: 16px;
    line-height: 147%;
    margin-bottom: 15px;
    display: block;  
    } 
    .footdiv2 a{
        display: block;
        font-size: 16px;
    line-height: 147%;
    margin-bottom: 15px;
    display: block;
    } 
}
