.maindiv{
    overflow: hidden;
    position: relative;
}
.recentSection{
    padding: 30px 30px 1px;
}
.tourSection{ 
    padding: 30px 30px 1px;
}
.leaghSection{
    padding: 30px 30px 1px;
}
.footSection{
    padding: 30px 30px 1px; 
}
.recentItem{
    padding: 30px 0;
}
.imge{
    transition: .7s;
    margin: 0 15px!important;
    overflow: hidden!important;
   
}
.primButton{
    background: linear-gradient(254.81deg,#ff6e01 8.13%,#f42829 92.46%);
    border-radius: 4px;
    padding: 4px 15px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: 22222!important;
}
.laligh{
    padding-top: 16px;
    padding-bottom: 56px;
}
.tourTitle{
    margin-bottom: 16px;
}
.footTitle{
    margin-bottom: 16px; 
}
.leaghTitle{
    margin-bottom: 10px;
    text-transform: capitalize;
 
    font-weight: 700;
    display: inline-block;
    font-size: 24px;
}
.tournaItem{
    padding-top: 16px;
    padding-bottom: 32px;
}
.football{
    padding: 16px 0;
}

.maindiv:hover .imge{
    transform: scale(1.05);
}
@media screen and (max-width:699.98px) {
    .recentSection{
        padding: 0 15px!important;
        padding-top: 15px!important;
        
    }
    .tourSection{
        padding: 15px;
    }
    .leaghSection{
        padding: 15px;
    }
    .footSection{
        padding: 15px;
        padding-top: 0;
    }
    .maindiv img{
        margin:0 15px;
    } 
    
    .recentItem{
        padding: 15px 0;
    }
    .tourTitle{
        margin-bottom: 0;
        margin-left: 3%;
    }
    .leaghTitle{
        margin-bottom: 0;
        margin-left: 3%;
        text-align: center;
    }
    .recentTitle{
        margin-left: 3%;
    }
    .tournaItem{
        padding-bottom: 0;
    }
    .football{
        padding: 0;
        padding-top: 16px;
    }
    .footTitle{
        margin-bottom: 0;
        margin-left: 3%;
    }
    .laligh{
        padding-bottom: 28px;
    }
}
@media screen and (min-width:700px) and (max-width:991.98px){
    .recentSection{
        padding: 15px 20px!important; 
    }
    .recentTitle{
        margin-left: 0!important;
        padding: 30px 0 10px 0!important;
        margin-left: 2%;

    }
    .tourSection{
        padding: 15px;
    }
    .leaghSection{
        padding: 15px;
    }
    .footSection{
        padding: 15px;
        padding-top: 0;
    }
    .maindiv img{
        margin:0 15px;
    } 
    .recentItem{
        padding: 15px 0;
    }
    .tourTitle{
        margin-bottom: 0;
        margin-left: 2%;
    }
    .leaghTitle{
        margin-bottom: 0;
        margin-left: 2%;
    }
    .recentTitle{
        margin-left: 2%;
    }
    .tournaItem{
        padding-bottom: 0;
    }
    .football{
        padding: 0;
        padding-top: 16px;
    }
    .footTitle{
        margin-bottom: 0;
        margin-left: 2%;
    }
    .laligh{
        padding-bottom: 28px;
    } 
}